img{
    height: 400px;
    border-radius: 20px;
    box-shadow: 0px 8px 32px 0px black;
}


body{
    /* background-color: black; */
}

Button{
    width: 400px;
    padding: 5px;
height: auto;
border-radius: 20px;    
    background-color: chartreuse;
}